# Gradient Descent
Applying the gradient Descent Algorithm  using the sklearn library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error

from sklearn import preprocessing

## Loading the dataset

In [30]:
data = pd.read_csv('Test_data.csv')
df = pd.DataFrame(data)
df.columns.values[4] = 'EP'
df

         AT      V       AP     RH      EP
0     14.96  41.76  1024.07  73.17  463.26
1     25.18  62.96  1020.04  59.08  444.37
2      5.11  39.40  1012.16  92.14  488.56
3     20.86  57.32  1010.24  76.64  446.48
4     10.82  37.50  1009.23  96.62  473.90
...     ...    ...      ...    ...     ...
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[9568 rows x 5 columns]

In [48]:
df.describe()

                AT            V           AP           RH           EP
count  9568.000000  9568.000000  9568.000000  9568.000000  9568.000000
mean     19.651231    54.305804  1013.259078    73.308978   454.365009
std       7.452473    12.707893     5.938784    14.600269    17.066995
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.510000    41.740000  1009.100000    63.327500   439.750000
50%      20.345000    52.080000  1012.940000    74.975000   451.550000
75%      25.720000    66.540000  1017.260000    84.830000   468.430000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

## Spliting the data 
This is done because this data has both features and target values.So, we will split the datasets in X_train and Y_train which will contain features and target values respectively

In [32]:
X_train = df.iloc[:,:4]
Y_train = df.iloc[:,-1]
Y_train

0       463.26
1       444.37
2       488.56
3       446.48
4       473.90
         ...
9563    460.03
9564    469.62
9565    429.57
9566    435.74
9567    453.28
Name: EP, Length: 9568, dtype: float64

## Applying the Gradient descent
Using the sklearn library of linear regression to train the data and predict the outcome

In [4]:
model = GradientBoostingRegressor()
model.fit(X_train,Y_train)

GradientBoostingRegressor()

## Loading the Test Datasets

In [35]:
test = pd.read_csv('test_data.csv')
td = pd.DataFrame(test)
td.columns.values[4] = 'EP'
final_train = td.iloc[:,:4]
final_test = td.iloc[:,-1]
final_test

0       463.26
1       444.37
2       488.56
3       446.48
4       473.90
         ...
9563    460.03
9564    469.62
9565    429.57
9566    435.74
9567    453.28
Name: EP, Length: 9568, dtype: float64

## Prediction of the dataset

In [34]:
y_predict = model.predict(final_train)
y_prediction = pd.DataFrame(y_predict)
y_prediction

               0
0     464.972301
1     445.334784
2     486.858599
3     447.506555
4     473.373331
...          ...
9563  458.499689
9564  469.938113
9565  433.070079
9566  441.111108
9567  449.308703

[9568 rows x 1 columns]

In [39]:
y_prediction.columns = ["EP_Predicted"]
y_prediction

      EP_Predicted
0       464.972301
1       445.334784
2       486.858599
3       447.506555
4       473.373331
...            ...
9563    458.499689
9564    469.938113
9565    433.070079
9566    441.111108
9567    449.308703

[9568 rows x 1 columns]

In [41]:
print(mean_absolute_error(final_test,y_predict))

2.82735131350564

In [46]:
combine = [final_test,y_prediction]
final_data = pd.concat(combine,axis=1)
final_data

          EP  EP_Predicted
0     463.26    464.972301
1     444.37    445.334784
2     488.56    486.858599
3     446.48    447.506555
4     473.90    473.373331
...      ...           ...
9563  460.03    458.499689
9564  469.62    469.938113
9565  429.57    433.070079
9566  435.74    441.111108
9567  453.28    449.308703

[9568 rows x 2 columns]

In [47]:
final_data.to_csv('data.csv')